html {
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 50rem;
}

a {
  color: #3457D5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

aside {
  background-color: #eee;
  color: #3457D5;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  font-style: italic;
  text-align: center;
}

h1 {
  text-align: center;
}

main {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.listing {
  border-top: 0.0625rem solid black;
  list-style: none;
  padding-left: 0;
}

.listing > li {
  border-bottom: 0.0625rem solid black;
  display: flex;
  font-family: monospace;
  font-size: 1rem;
  height: 1.5rem;
  justify-content: space-between;
}

.listing > li > * {
  margin-bottom: auto;
  margin-top: auto;
}

.filesize {
    margin-right: 1rem;
    margin-left: auto;
}

.view {
  color: black;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  display: flex;
  fill: none;
  height: 1.5rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: black;
  width: 1.5rem;
}

.invoice {
  border-bottom: 0.0625rem solid black;
  border-top: 0.0625rem solid black;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.invoice > .label {
  height: 1.5rem;
  overflow: hidden;
  padding-bottom: 0.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invoice > .payment-request {
  background-color: #ddd;
  border-radius: 0.4375rem;
  font-family: monospace;
  overflow-wrap: break-word;
  padding: 0.25rem;
  position: relative;
}

.invoice > .links {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.invoice > .links > a {
  padding: 1rem;
}

.invoice > .qr-code {
  display: block;
  margin: auto;
  max-width: 25rem;
}

.instructions {
  padding-top: 0.5rem;
}

.filename {
  font-family: monospace;
}

.invoice .clipboard-copy {
  border-radius: 0.4375rem;
  border-width: 0.0625rem;
  display: none;
  padding: 0.25rem;
  margin: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
}

.invoice > .payment-request:hover > .clipboard-copy.enabled {
  display: initial;
}
