.contents {
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 0%;
  list-style: none;
}

.file {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  height: 1.5em;
}

.view {
  color: black;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  background-color: black;
  height: 1px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
