.contents {
  border-top: 1px solid black;
  list-style: none;
  margin: auto;
  max-width: 100%;
  padding: 0%;
  width: 800px;
}

.contents > li {
  border-bottom: 1px solid black;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  height: 1.5em;
  justify-content: space-between;
}

.view {
  color: black;
  margin-bottom: auto;
  margin-top: auto;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  fill: none;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: black;
  width: 24px;
}

.invoice > .label {
  height: 1.5em;
  overflow: hidden;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invoice > .label > .filename {
  font-family: "Courier New", Courier, monospace;
}

.invoice > .payment-request {
  border-bottom: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  height: 1.5em;
  overflow: hidden;
}
