name: Package

on:
  push:
    branches:
    - master
    tags:
    - '*'

defaults:
  run:
    shell: bash

jobs:
  all:
    name: All

    strategy:
      matrix:
        target:
        - aarch64-unknown-linux-musl
        - armv7-unknown-linux-musleabihf
        - x86_64-apple-darwin
        - x86_64-pc-windows-msvc
        - x86_64-unknown-linux-musl
        include:
        - target: aarch64-unknown-linux-musl
          os: ubuntu-latest
          cross_compiling: true
        - target: armv7-unknown-linux-musleabihf
          os: ubuntu-latest
          cross_compiling: true
        - target: x86_64-apple-darwin
          os: macos-latest
          cross_compiling: false
        - target: x86_64-pc-windows-msvc
          os: windows-latest
          cross_compiling: false
        - target: x86_64-unknown-linux-musl
          os: ubuntu-latest
          cross_compiling: false

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Make openssl-src Use Strawberry Perl
      if: matrix.os == 'windows-latest'
      run: echo OPENSSL_SRC_PERL=C:/Strawberry/perl/bin/perl >> $GITHUB_ENV

    - name: Install Rust Toolchain Components
      uses: actions-rs/toolchain@v1
      with:
        override: true
        target: ${{ matrix.target }}
        toolchain: stable

    - name: Install AArch64 Toolchain
      if: ${{ matrix.target == 'aarch64-unknown-linux-musl' }}
      run: |
        sudo apt-get update
        sudo apt-get install gcc-aarch64-linux-gnu

    - name: Install ARM7 Toolchain
      if: ${{ matrix.target == 'armv7-unknown-linux-musleabihf' }}
      run: |
        sudo apt-get update
        sudo apt-get install gcc-arm-linux-gnueabihf

    - name: Test
      if: '!matrix.cross_compiling'
      run: |
        cargo test --all --all-features
        cargo test --test integration

    - name: Build
      uses: actions-rs/cargo@v1
      env:
        RUSTFLAGS: --codegen target-feature=+crt-static
      with:
        command: build
        args: --release --target ${{ matrix.target }} --bin agora
        use-cross: ${{ matrix.cross_compiling }}

    - name: Package
      id: package
      env:
        OS: ${{ matrix.os }}
        REF: ${{ github.ref }}
        TARGET: ${{ matrix.target }}
      run: ./bin/package

    - name: Prerelease Check
      id: is_prerelease
      run: cargo run --package prerelease -- --reference ${{ github.ref }}

    - name: Publish
      uses: softprops/action-gh-release@v0.1.5
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: false
        files: ${{ steps.package.outputs.archive }}
        prerelease: ${{ steps.is_prerelease.outputs.value }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
